<h1 class="titulo1">REGLA DE CARGA TECNICA</h1>
<p></p>
<div class="formularioRegistro">
  <h2>Ingresar Datos</h2>
  <form [formGroup]="rctForm" (ngSubmit)="guardar()" class="form-container">
    <div class="form-group row">
      <div class="col-md-4">
        <label>Pedido</label>
        <select id="pedido" formControlName="pedidoId" class="form-control" required>
          <option *ngFor="let pedido of pedidos" [value]="pedido">{{ pedido }}</option>
        </select>
        <div *ngIf="rctForm.get('pedidoId').invalid && rctForm.get('pedidoId').touched" class="text-danger">
          Pedido es requerido.
        </div>
      </div>
      <div class="col-md-4">
        <label>Migracion</label>
        <select id="migracion" formControlName="migracionId" class="form-control" required>
          <option *ngFor="let migracion of migraciones" [value]="migracion">{{ migracion }}</option>
        </select>
        <div *ngIf="rctForm.get('migracionId').invalid && rctForm.get('migracionId').touched" class="text-danger">
          Migracion es requerida.
        </div>
      </div>
      <div class="col-md-4">
        <label>Tecnologias</label>
        <select id="nombreTecnologia" formControlName="nombreTecnologia" class="form-control" required>
          <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia[0]">{{ tecnologia[1] }}</option>
        </select>
        <div *ngIf="rctForm.get('nombreTecnologia').invalid && rctForm.get('nombreTecnologia').touched" class="text-danger">
          Tecnologia es requerida.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="codigo">Codigo</label>
      <textarea id="codigo" formControlName="codigo" class="form-control grande rainbow"></textarea>
      <div *ngIf="rctForm.get('codigo').invalid && rctForm.get('codigo').touched" class="text-danger">
        Codigo requerida
      </div>
    </div>
    <p></p>
    <div class="text-center">
      <button type="submit" class="btn btn-confirmar">Enviar Para Corrección</button>
      <button class="btn btn-ver" [routerLink]="['/verreglafunc', rctForm.get('migracionId').value ]"
              [disabled]="!rctForm.get('migracionId').value">Regla Funcional</button>
    </div>
  </form>
</div>

<router-outlet></router-outlet>



