<h1 class="titulo1">REGLAS DE PRECARGA</h1>
<p></p>

<div class="formularioRegistro">
  <form [formGroup]="filtrarporpedidoForm" class="form-container">
    <div class="form-group row">
      <div class="col-md-6 text-left">
        <label for="pedido">Pedido</label>
        <select id="pedido" formControlName="pedidoId" class="form-control custom-select" required>
          <option *ngFor="let pedido of pedidos" [value]="pedido">{{ pedido }}</option>
        </select>
        <div *ngIf="filtrarporpedidoForm.get('pedidoId').invalid && filtrarporpedidoForm.get('pedidoId').touched" class="text-danger">
          Pedido es requerido.
        </div>
      </div>
      <div class="col-md-6 text-right">
        <label for="migracion">Migracion</label>
        <select id="migracion" formControlName="migracionId" class="form-control custom-select" required>
          <option *ngFor="let migracion of migraciones" [value]="migracion">{{ migracion }}</option>
        </select>
        <div *ngIf="filtrarporpedidoForm.get('migracionId').invalid && filtrarporpedidoForm.get('migracionId').touched" class="text-danger">
          Migracion es requerida.
        </div>
      </div>
    </div>
  </form>
</div>

<p></p>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>REGLAS OBLIGATORIAS</h2>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let obligatorias of reglasobligatorias">
            <td>{{ obligatorias[1] }}</td>
            <td>{{ obligatorias[2] }}</td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="reglasobligatorias.length === 0" class="alert alert-warning" role="alert">
          No hay reglas obligatorias.
        </div>
      </div>
    </div>
  </div>
</div>

<p></p>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>REGLAS OPCIONALES</h2>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Acciones</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let opcionales of reglasopcionales">
            <td>{{ opcionales[1] }}</td>
            <td>{{ opcionales[2] }}</td>
            <td>
              <button (click)="recomendar(filtrarporpedidoForm.get('migracionId').value, opcionales[1])" class="btn btn-sm btn-primary">Recomendar</button>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="reglasopcionales.length === 0" class="alert alert-warning" role="alert">
          No hay reglas opcionales.
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

