<h1 class="titulo1">Modelo DDV</h1>
<p></p>

<div class="formularioRegistro">
  <h2>Insertar Modelo</h2>
  <form [formGroup]="modeloForm" (ngSubmit)="guardar()">
    <div class="form-group">
      <label for="campo">Seleccionar Campo</label>
      <select id="campo" formControlName="campo" class="form-control" required>
        <option *ngFor="let campo of camposDisponibles" [value]="campo">{{ campo }}</option>
      </select>
      <div *ngIf="modeloForm.get('campo').invalid && modeloForm.get('campo').touched" class="text-danger">
        Campo es requerido.
      </div>
    </div>

    <div class="form-group">
      <label for="campoDDV">Campo DDV</label>
      <input id="campoDDV" type="text" formControlName="campoDDV" class="form-control" required>
      <div *ngIf="modeloForm.get('campoDDV').invalid && modeloForm.get('campoDDV').touched" class="text-danger">
        Campo DDV es requerido.
      </div>
    </div>

    <div class="form-group">
      <label>¿Campo Llave?</label>
      <div>
        <input type="radio" formControlName="campoLlave" [value]="true"> Sí
        <input type="radio" formControlName="campoLlave" [value]="false"> No
      </div>
      <div *ngIf="modeloForm.get('campoLlave').invalid && modeloForm.get('campoLlave').touched" class="text-danger">
        Campo Llave es requerido.
      </div>
    </div>

    <div class="form-group">
      <label>¿Campo Descartado?</label>
      <div>
        <input type="radio" formControlName="campoDescarta" [value]="true"> Sí
        <input type="radio" formControlName="campoDescarta" [value]="false"> No
      </div>
      <div *ngIf="modeloForm.get('campoDescarta').invalid && modeloForm.get('campoDescarta').touched" class="text-danger">
        Campo Descartado es requerido.
      </div>
    </div>

    <p> </p>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>

<div class="formularioRegistro">
  <h2>Asociar Esquema y Tabla</h2>
  <form [formGroup]="asociarForm" (ngSubmit)="asociar()">
    <div class="form-group">
      <label for="esquemaDDV">Esquema DDV</label>
      <input id="esquemaDDV" type="text" formControlName="esquemaDDV" class="form-control" required>
      <div *ngIf="asociarForm.get('esquemaDDV').invalid && asociarForm.get('esquemaDDV').touched" class="text-danger">
        Esquema DDV es requerido.
      </div>
    </div>

    <div class="form-group">
      <label for="tablaDDV">Tabla DDV</label>
      <input id="tablaDDV" type="text" formControlName="tablaDDV" class="form-control" required>
      <div *ngIf="asociarForm.get('tablaDDV').invalid && asociarForm.get('tablaDDV').touched" class="text-danger">
        Tabla DDV es requerida.
      </div>
    </div>

    <p> </p>
    <button type="submit" class="btn btn-primary">Asociar</button>
  </form>
</div>

<div class="derecha2">
  <p><a routerLink="/buscar-modelo" routerLinkActive="active">Ver Modelo</a></p>
</div>

<router-outlet></router-outlet>



