.formularioRegistro{
  padding-left: 30%;
  padding-right: 30%;
  margin-top: 1.5%;
}

table {
  width: 100%;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.titulo1 {
  margin-top: 22px;
  padding: 20px;
  background-color: #004A8E;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
}

.table {
  font-size: 0.9rem;
}

.table th, .table td {
  padding: 0.3rem;
}

.derecha {
  text-align: right;
  color: #004A8E;
}

.derecha1 {
  text-align: right;
  color: #004A8E;
  padding-right: 10%;
}

.derecha2 {
  text-align: right;
  color: #004A8E;
  padding-right: 30%;
}

.formulario-horizontal {
  display: flex;
  align-items: center;
  gap: 25px;
}

.formulario-horizontal .form-group {
  margin-bottom: 50px;
  margin-left: 30px;
}

.formulario-horizontal .form-group label {
  margin-bottom: 5px;
}
.formulario-horizontal button {
  margin-left: 10px;
  margin-bottom: 16px;
}
