<h1 class="titulo1">EQUIVALENCIAS</h1>
<p></p>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="tablaSelect">Seleccione una Tabla:</label>
        <select id="tablaSelect" class="form-control" [(ngModel)]="tablaSeleccionada">
          <option *ngFor="let tabla of tablas" [value]="tabla">{{ tabla }}</option>
        </select>
        <button class="btn btn-primary mt-3" (click)="buscar()">Buscar</button>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="esquemasOR">
    <div class="col">
      <h2>Esquemas</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Esquema Original</th>
            <th scope="col">Esquema Equivalente</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let esquema of esquemasOR">
            <td>{{ esquema[0] }}</td>
            <td>{{ esquema[1] }}</td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="esquemasOR.length === 0" class="alert alert-warning" role="alert">
          No hay esquemas disponibles.
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="tablasOR">
    <div class="col">
      <h2>Tablas</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Tabla Original</th>
            <th scope="col">Tabla Equivalente</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let tablaOR of tablasOR">
            <td>{{ tablaOR[0] }}</td>
            <td>{{ tablaOR[1] }}</td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="tablasOR.length === 0" class="alert alert-warning" role="alert">
          No hay tablas disponibles.
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="camposOR">
    <div class="col">
      <h2>Campos</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Campo Original</th>
            <th scope="col">Campo Equivalente</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let campoOR of camposOR">
            <td>{{ campoOR[0] }}</td>
            <td>{{ campoOR[1] }}</td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="camposOR.length === 0" class="alert alert-warning" role="alert">
          No hay campos disponibles.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="derecha2">
  <p><a routerLink="/ver-progreso" routerLinkActive="active">Volver a vista de progreso</a></p>
</div>

