<h1 class="titulo1">REGLA FUNCIONAL</h1>
<p></p>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th style="background-color: #f0f0f0;">Logica</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let reg of reglasfunc">
            <td style="white-space: pre-wrap; border: 1px solid #dee2e6;">{{reg}}</td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="reglasfunc.length === 0" class="alert alert-warning" role="alert">
          Aún no se realiza la regla de carga funcional a esta migración
        </div>
      </div>
    </div>
  </div>
</div>


