<h1 class="titulo1">ERRORES EN LA MIGRACIÓN</h1>
<p></p>
<div class="d-flex justify-content-end">
  <div class="col-md-4">
    <form [formGroup]="erroresForm" (ngSubmit)="buscar()">
      <div class="form-group row">
        <label for="pedidoId" class="col-auto col-form-label">Filtrar por Pedido:</label>
        <div class="col-3">
          <select id="pedidoId" formControlName="pedidoId" class="form-control" required>
            <option *ngFor="let pedido of pedidos" [value]="pedido[0]">{{ pedido[0] }}</option>
          </select>
          <div *ngIf="erroresForm.get('pedidoId').invalid && erroresForm.get('pedidoId').touched" class="text-danger">
            El ID del Pedido es requerido.
          </div>
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<p> </p>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>Causa</th>
            <th>Correccion</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let error of errores">
            <td>{{error[0]}}</td>
            <td>{{error[1]}}</td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="errores.length === 0" class="alert alert-warning" role="alert">
          No hay errores asociados a este pedido
        </div>
      </div>
    </div>
  </div>
</div>

