<div class="container">
  <h1 class="titulo1">Seleccionar Participantes</h1>
  <div class="row">
    <div class="col-md-6">
      <h2>Detalles de la Reunión</h2>
      <div class="detalleReunion">
        <p><strong>Pedido:</strong> {{ reunionParcial.pedidoId }}</p>
        <p><strong>Empleado:</strong> {{ reunionParcial.idEmpleado }}</p>
        <p><strong>Fecha:</strong> {{ reunionParcial.fecha }}</p>
        <p><strong>Hora de Inicio:</strong> {{ reunionParcial.horaInicio }}</p>
        <p><strong>Hora de Fin:</strong> {{ reunionParcial.horaFin }}</p>
        <p><strong>Plataforma:</strong> {{ reunionParcial.plataforma }}</p>
        <p><strong>Agenda:</strong> {{ reunionParcial.agenda }}</p>
        <p><strong>Tipo de Reunión:</strong> {{ reunionParcial.tipoReunionId }}</p>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Asociar Participantes a la Reunión</h2>
      <form [formGroup]="formularioParticipantes" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="participantes">Participantes:</label>
          <div class="checkbox-group" *ngFor="let participante of participantes">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" [id]="participante.id" [value]="participante.id" (change)="onCheckboxChange($event)">
              <label class="form-check-label" [for]="participante.id">{{ participante.nombreCompleto }}</label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Confirmar Reunión</button>
        <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
      </form>
    </div>
  </div>
</div>
