<h1 class="titulo1">MODELO DDV</h1>
<p></p>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="tablaSelect">Seleccione una Campo:</label>
        <select id="tablaSelect" class="form-control" [(ngModel)]="campoSeleccionado">
          <option *ngFor="let campo of campos" [value]="campo">{{ campo }}</option>
        </select>
        <button class="btn btn-primary mt-3" (click)="buscar()">Buscar</button>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="modelo">
    <div class="col">
      <h2>Esquemas</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Campo</th>
            <th scope="col">EsquemaDDV</th>
            <th scope="col">TablaDDV</th>
            <th scope="col">CampoDDV</th>
            <th scope="col">CampoLlave</th>
            <th scope="col">Campo Descartado</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let modelo of modelo">
            <td>{{ modelo[0] }}</td>
            <td>{{ modelo[1] }}</td>
            <td>{{ modelo[2] }}</td>
            <td>{{ modelo[3] }}</td>
            <td>{{ modelo[4] }}</td>
            <td>{{ modelo[5] }}</td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="modelo.length === 0" class="alert alert-warning" role="alert">
          No hay modelo disponible.
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-primary btn-g mx-2" routerLink="/ver-progreso" routerLinkActive="active">Volver a vista de progreso</button>
      <button class="btn btn-primary btn-g mx-2" routerLink="/agregar-modelo" routerLinkActive="active">Agregar Información Modelo</button>
    </div>
  </div>
</div>
