<h1 class="titulo1">REGISTRO DE ERRORES</h1>
<p></p>
<div class="formularioRegistro">
  <h2>Ingresar Errores de los campos</h2>
  <form [formGroup]="erroresForm" (ngSubmit)="guardar()">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tbody>
        <tr>
          <td><label for="pedido">Pedido</label></td>
          <td>
            <select id="pedido" formControlName="pedidoId" class="form-control" required>
              <option *ngFor="let pedido of pedidos" [value]="pedido">{{ pedido }}</option>
            </select>
            <div *ngIf="erroresForm.get('pedidoId').invalid && erroresForm.get('pedidoId').touched" class="text-danger">
              Pedido es requerido.
            </div>
          </td>
        </tr>
        <tr>
          <td><label for="migracion">Migracion</label></td>
          <td>
            <select id="migracion" formControlName="migracionId" class="form-control" required>
              <option *ngFor="let migracion of migraciones" [value]="migracion">{{ migracion }}</option>
            </select>
            <div *ngIf="erroresForm.get('migracionId').invalid && erroresForm.get('migracionId').touched" class="text-danger">
              Migracion es requerida.
            </div>
          </td>
        </tr>
        <tr>
          <td><label for="nombreError">Tipo De Error</label></td>
          <td>
            <select id="nombreError" formControlName="nombreError" class="form-control" required>
              <option *ngFor="let error of errores" [value]="error[1]">{{ error[1] }}</option>
            </select>
            <div *ngIf="erroresForm.get('nombreError').invalid && erroresForm.get('nombreError').touched" class="text-danger">
              El Tipo de error es requerido.
            </div>
          </td>
        </tr>
        <tr>
          <td><label for="nombre">Empleados</label></td>
          <td>
            <select id="nombre" formControlName="nombre" class="form-control" required>
              <option *ngFor="let empleado of empleados" [value]="empleado[1]">{{ empleado[1] }}</option>
            </select>
            <div *ngIf="erroresForm.get('nombre').invalid && erroresForm.get('nombre').touched" class="text-danger">
              El empleado es requerido.
            </div>
          </td>
        </tr>
        <tr>
          <td><label for="causaError">Causa del error</label></td>
          <td>
            <input id="causaError" type="text" formControlName="causaError" class="form-control">
            <div *ngIf="erroresForm.get('causaError').invalid && erroresForm.get('causaError').touched" class="text-danger">
              Causa del error requerida.
            </div>
          </td>
        </tr>
        <tr>
          <td><label for="correccionError">Correcion del error</label></td>
          <td>
            <input id="correccionError" type="text" formControlName="correccionError" class="form-control">
            <div *ngIf="erroresForm.get('correccionError').invalid && erroresForm.get('correccionError').touched" class="text-danger">
              Restriccion requerida.
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>

<router-outlet></router-outlet>

