<h1 class="titulo1">DEFINICIONES TECNICAS</h1>
<p></p>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Migración</th>
            <th>Tabla</th>
            <th>Campo</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let deftecnica of deftecnicas">
            <td>{{deftecnica[0]}}</td>
            <td>{{deftecnica[1]}}</td>
            <td>{{deftecnica[2]}}</td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="deftecnicas.length === 0" class="alert alert-warning" role="alert">
          Todavía no se ha hecha ninguna definición técnica para este pedido.
        </div>
      </div>
    </div>
  </div>
</div>
